<?xml version="1.0" encoding="utf-8">
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="corp.mahisan.medicinastore">
<uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Splash"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="corp.mahisan.medicina.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.Loginact"></meta-data>
            </activity>
        <activity
            android:name=".Loginact"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.Loginact"></meta-data>
        </activity>
        <activity
            android:name=".ListView1"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.MyActivity"></meta-data>
        </activity>
        <activity
            android:name=".ListView2"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.MyActivity"></meta-data>
        </activity>
        <activity
            android:name=".ListView3"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.MyActivity"></meta-data>
        </activity>
        <activity
            android:name=".ListView4"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.MyActivity"></meta-data>
        </activity>
        <activity
            android:name=".ListView5"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.MyActivity"></meta-data>
        </activity>
        <activity
            android:name=".UCRailway"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView1"></meta-data>
        </activity>
        <activity
            android:name=".MRailInfo"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView1"></meta-data>
        </activity>
        <activity
            android:name=".DelhiMetro"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView1"></meta-data>
        </activity>
        <activity
            android:name=".MumbaiLocal"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView1"></meta-data>
        </activity>
        <activity
            android:name=".KolkataLocal"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView1"></meta-data>
        </activity>
        <activity
            android:name=".RedBus"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView1"></meta-data>
        </activity>
        <activity
            android:name=".AirTicket"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView1"></meta-data>
        </activity>
        <activity
            android:name=".Fetch_Medicine"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView2"></meta-data>
        </activity>
        <activity
            android:name=".Disease_info"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView2"></meta-data>
        </activity>
        <activity
            android:name=".Medicine_info"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView2"></meta-data>
        </activity>
        <activity
            android:name=".Theraphy"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView2"></meta-data>
        </activity>
        <activity
            android:name=".Quit_Smoking"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView2"></meta-data>
        </activity>
        <activity
            android:name=".Mood_Scanner"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView2"></meta-data>
        </activity>
        <activity
            android:name=".Mood"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView2"></meta-data>
        </activity>
        <activity
            android:name=".Hypnotize"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView2"></meta-data>
        </activity>
        <activity
            android:name=".MajorHypnotize"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name=".Fringe"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView2"></meta-data>
        </activity>
        <activity
            android:name=".Facebook"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView3"></meta-data>
        </activity>
        <activity
            android:name=".Gmail"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView3"></meta-data>
        </activity>
        <activity
            android:name=".Twitter"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView3"></meta-data>
        </activity>
        <activity
            android:name=".Hot_Mail"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView3"></meta-data>
        </activity>
        <activity
            android:name=".Yahoo"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView3"></meta-data>
        </activity>
        <activity
            android:name=".Flipkart"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView4"></meta-data>
        </activity>
        <activity
            android:name=".Snapdeal"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView4"></meta-data>
        </activity>
        <activity
            android:name=".Myntra"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView4"></meta-data>
        </activity>
        <activity
            android:name=".Amazon"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView4"></meta-data>
        </activity>
        <activity
            android:name=".FreeCharge"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView4"></meta-data>
        </activity>
        <activity
            android:name=".BookMyShow"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView4"></meta-data>
        </activity>
        <activity
            android:name=".NewsHunt"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView5"></meta-data>
        </activity>
        <activity
            android:name=".Times_Of_India"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView5"></meta-data>
        </activity>
        <activity
            android:name=".Hindu"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView5"></meta-data>
        </activity>
        <activity
            android:name=".New_York_Times"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView5"></meta-data>
        </activity>
        <activity
            android:name=".First_Post"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="corp.mahisan.medicinastore.ListView5"></meta-data>
        </activity>
    </application>
</manifest>
